# Compiled source #
###################
*.class
*.exe


# Logs and databases #
######################
*.log
Thumbs.db
**/.classpath
**/.factorypath
**/.project
# dirs
.gradle/
.settings/
build/
bin/
generated_pojobuilder/
generated/
